.container{
    margin: 1%;
    padding: 20%;
    border-radius: 1.5rem;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    border: 1px black solid;
}

.imageContainer{
    align-items: center;
    justify-content: center;
}

.image{
    width: 100%;
    object-fit: cover;
    background-color: transparent;
}


.productName, .productPrice, .stockNumber {
    font-size: 100%;
    font-weight: bold;
}

.selectButton{
    background-color: black;
    color: white;
    text-align: center;
    max-width: 80%;
    border-radius: 1.5rem;
    margin-top: 1rem;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {

    .container {
      height: 6rem;
      padding: 0.1rem;
    }
    .productName, .productPrice, .stockNumber {
        font-size: 0.5rem;
    }
    .imageContainer{
        align-items: center;
        justify-content: center;
    }
    .image{
        height: 2rem;
        width: auto;
        object-fit: cover;
        background-color: transparent;
    }

    .selectButton{
        margin-top: 1rem;
        font-size: 0.5rem;
        margin-top: 0.2rem;
    }

  
    /* Adjust other specific styles for small screens */
  }

