.vending-machine-container {
  width: 98%;
  margin: auto;
  display: grid;
  grid-template-columns: 20vw auto 15vw 15vw;
  grid-template-rows: 5vh 60vh 30vh;
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

.vending-machine-header {
  color: white;
  grid-column:1 / 6;
  grid-row: 1;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px black solid;
  border-radius: 1.5rem;
}

.products {
  grid-column: 1 / 4;
  grid-row: 2;
  background-color: #C8E9E9;
  display: grid;
  grid-template-columns: auto auto auto 5vw 10vw;
  gap: 3rem;
  align-items: center;
  border: 1px black solid;  
  border-radius: 1.5rem;
}

.operations {
  background-color:#939799;
  grid-column: 4 / 6;
  grid-row: 2 / 4 ;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30vh 30vh 20vh;
  border-radius: 1.5rem;
  border: 1px solid black;
}

.moneyOperations{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:  20% 70% auto;
  align-items: center;
  justify-content: center;
  /* border: 1px black solid;   */
  border-radius: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.safe {
  grid-column: 1 / 4;
  grid-row: 3;
  background-color: #939799;
  border-radius: 1.5rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem 4rem;
  justify-content: space-between;
}

.buttons{
  color: white;
  text-align: center;
  height: 2rem;
  border-radius: 1.5rem;  
  font-size: 0.7rem;
  font-weight: bold;
}

.cancelButton{
  background-color: red;
  border: 0.1rem darkred solid;
  
}

.changeButton{
  background-color: lightgreen;
  border: 0.1rem green solid;
  color: green;
  
}

.totalChangeButton{
  background-color: green;
  border: 0.1rem darkgreen solid;
  
}

.openButton {
  background-color: black;
  color: white;
  text-align: center;
  width: 1.5rem;
  height: 5rem;
  border-radius: 1.5rem;  
  font-size: 0.7rem;
  font-weight: bold;
}

.moneys{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.5rem;
}

.insert-money {
  font-weight: bold;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 3px black solid;  
  border-radius: 1.5rem;
  background-color: black;
  color: white;
  margin: 5%;
}

.change-box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px black solid;  
  /* border-radius: 1.5rem; */
  margin-top: 1rem;
  font-weight: bold;
  height: 12rem; 
}

.secure-money{
  visibility: none;
}

.fillProducts {
  background-color: lightgreen;
  border-radius: 1.5rem;
  border: 1px darkgreen solid;
  margin: 0.5rem;
  align-self: flex-end;
}

.lightbulb{
  height: 2rem;
}

.item-container {  
  align-self: flex-end;
  justify-self: center;
  width: 100%;
  font-size: 0.8rem;
  margin-bottom: 10%;
}


@media screen and (max-width: 768px) {

  .products {
    grid-template-columns: 8vh 8vh 8vh;
    grid-template-rows:  auto auto;
    font-size: 1rem;
    justify-content: space-evenly;

  }

  /* Adjust other specific styles for small screens */
}